name: Send Discovered API to ApiConnect 

on: [pull_request, workflow_dispatch, push]

env:
  API_HOST: tj-isa-5-420eb34f056ae68f3969289d61f61851-0000.jp-tok.containers.appdomain.cloud
  PROVIDER_ORG: tech-jam-18
  PLATFORM_API_PREFIX: api-manage-27fb4ea0-api-manager-tech-jam-apic
  INSECURE_SKIP_TLS_VERIFY: true
  API_FILES: APIfolder/photos.yaml
  #API_FILES: APIfolder/uber-api.json
  #API_FILES: APIfolder/coffee-store.yaml
  #API_FOLDERS: APIfolder,APIfolderTwo

jobs:
  run-discovery:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Difference
      id: difference-output
      run: |
        echo "action_updates=$(git diff --name-only --diff-filter=ACMRT ${{ github.event.before }} ${{ github.sha }} | xargs)" >> $GITHUB_OUTPUT
    - uses: ibm-apiconnect/apic-discovery-action@main 
      id: discover-apis
      with:
        api_host: tj-isa-5-420eb34f056ae68f3969289d61f61851-0000.jp-tok.containers.appdomain.cloud
        platform_api_prefix: api-manage-27fb4ea0-api-manager-tech-jam-apic
        provider_org: tech-jam-18
        api_key: 2fe45d7b-7172-49f0-bc64-80920bef241a
        api_files: APIfolder/photos.yaml
        api_folders: APIfolder,APIfolderTwo
        resync_check: ${{ true }}
        git_diff: ${{ steps.difference-output.outputs.action_updates }}
        insecure_skip_tls_verify: true
    - name: Display the action-result
      run: |
        echo "Result of the action: ${{ steps.discover-apis.outputs.action-result }}"
        echo "End"  
